.{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    width: 1440px;
    height: 1024px;
    background-color: white;
}
.header{
    width: 1282px;
    height: 72px;
    background-color: pink;
    display: flex;
    justify-content: space-between;

}
.hi_day{
    width: 233px;
    height: 72px;
}
.color{
    margin-top: 32px;
}
.color_1{
    width: 1282px;
    height: 100px;
}
.location{
    width: 1218px;
    height: 100px;
    display:flex;
    margin-top: 32px;
    justify-content: space-between;
}
.a_em_na{
    width: 322px;
    height: 100px;
    display: flex;
}
.avarta{
    width: 100px;
    height: 100px;
}
.em_na{
    width: 198px;
    height: 60px;
}
.name{
    width: 132px;
    height: 30px;
}
.email{
    width: 198px;
    height: 24px;
}
.edit{
    width: 93px;
    height: 44px;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: blue;
}
.text{
    width: 1218px;
    height: 523px;
}
.text_baby{
    width: 1218px;
    height: 314px;
}
.input{
    width: 593px;
    height: 88px;
    display: flex;
    align-items: center;
    display: inline-block;
    gap: 30px;
}
.title{
    width: 593px;
    height: 24px;
}
.input_text{
    width: 593px;
    height: 52px;
    display: flex;
}

